body, html { 
	width: 100%
	height: 100%;
	font-family: fantasy;

  background: url(man-using-laptop-on-table-against-white-background-257897.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	text-align: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.buffer {
	height: 400px;
}

hr {
	border-color: orange;
	border-width: 4px;
	max-width: 15px;
}
.btn {
	font-weight: 200;
	border-radius: 300px;
	text-transform: uppercase;
	margin-left: 40px;
}

.btn-primary {
	color: white;
	background-color: orange;
	border-color: orange;
}

.btn-primary:hover {
	background-color: black;
	border-color: black;
	border-width: 4px;
}
